[2021-06-15 19:37] rosariopfernandes opened #1 "Missing Tier 2 Cloud Function Locations?"
## Description

Looking at the current list of possible Cloud Function Locations, I noticed it only offers Tier 1 Cloud Function Locations:

https://github.com/typesense/firestore-typesense-search/blob/ab9291b649a5d0f1d5bb4ffb12324c428a76e479/extension.yaml#L96-L112

But Cloud Functions has many more locations (Tier 2), as shown in their [docs](https://firebase.google.com/docs/functions/locations)

[2021-06-16 00:34] jasonbosco commented on #1
@rosariopfernandes Thank you for pointing this out! I used an example from the extensions developer docs which only had those regions and I (mistakenly) assumed those were the only ones available. I've now added the other regions available in 2123126f0bbbd8f6f35fd4b50707367b9109cdf7.

Will publish this new version shortly.

[2021-06-16 00:34] #1 closed

[2021-06-29 20:04] kylewill opened #2 "Post Install README not linked"
After install in Firebase the link to post install instructions links to: https://github.com/typesense/firebase-typesense-search-extension/POSTINSTALL.md which returns a "Not Found" error.

edit: This is after setup and before the install completes. On install the in firebase postinstall docs are displayed.

During install Firebase links to github with the above "Not Found" url. Not sure if it's a

[2021-06-29 20:05] kylewill opened #3 "Nodejs 8 upgrade warning"
After setup, Firebase displays a warning to upgrade from Node 8 to at least Node 10:

![image](https://user-images.githubusercontent.com/3108182/123860377-d3620100-d8f3-11eb-9fcf-e52ca8f1d35e.png)

[2021-06-29 20:29] kylewill opened #4 "http unsupported (self hosting)"
Testing with self hosted instance and entered `[IP ADDRESS]:8108` in the Extension configuration.

Firebase Functions logs show the port is updated to 443 and the connection is refused:

![image](https://user-images.githubusercontent.com/3108182/123863025-0c4fa500-d8f7-11eb-8860-7a3b9fb7a811.png)

[2021-06-29 22:16] jasonbosco commented on #3
I heard from the Firebase team that this is a warning that's displayed in the UI for all extensions unfortunately, regardless of the actual node version used. They're working on addressing it.

The functions deployed by this extension do use Node 14:

https://github.com/typesense/firestore-typesense-search/blob/c35c0871dc2abed9c0c513f5b4b5fe7023d93d45/extension.yaml#L24

[2021-06-29 22:16] #3 closed

[2021-06-29 22:20] jasonbosco commented on #4
Ah yes, I didn't want to have one too many configuration options when setting up the extension. Would it be possible for you to use port 443?

Figured since API calls are made over public networks, it's a good idea to use https/443 when running your Typesense cluster.

You'd just need to get an SSL certificate and pass the location to the Typesense process when starting it up. See SSL params here:

[2021-06-29 22:37] jasonbosco commented on #2
@kylewill Would you be able to share a screenshot of where you see this in the Firebase UI?

[2021-06-29 23:03] kylewill commented on #2
Sure - I had to reinstall to get there.

After setting up the configuration but before the first install completes there's a link here:

![image](https://user-images.githubusercontent.com/3108182/123878192-a1a96400-d90c-11eb-98ce-b899c00362f4.png)

[2021-06-29 23:05] kylewill commented on #4
Makes sense :) I can (and have now!) it was an unexpected speedbump switching from the docs to the extension but not too hard to get working. Thank you!

[2021-06-29 23:06] #4 closed

[2021-06-29 23:30] kylewill opened #6 "Backfill function attempts to rerun admin.initializeApp on rerun"
I ran backfill, had to fix a schema issue (preventing backfill from making updates) and re-ran backfill soon after.

Firebase Functions logs shows this error:

[code]

Firebase functions can be re-used so admin.initializeApp ends up being called multiple times.

Submitting a PR here: https://github.com/typesense/firestore-typesense-search/pull/5

[2021-06-30 01:39] #6 closed

[2021-06-30 02:05] #2 closed

[2021-06-30 02:09] jasonbosco commented on #2
Thanks @kylewill, I've pushed out a fix for this.

[2021-07-08 20:52] aaronkbutler opened #7 "Firebase extension host"
## Description

I have setup the typesense extension in my Firebase project, but when trying to add a document, i get the following error:

`Error detected in ext-firestore-typesense-search-indexToTypesenseOnFirestoreWrite {"@type":"type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.Insight","errorGroup":"CNTlnprCi-zYJw","exceptionInfo":{"type":"Error","message":"timeout of 10000ms ex

[2021-07-08 21:32] jasonbosco commented on #7
Hi @aaronkbutler, the extension only supports HTTPS over 443. More context here: https://github.com/typesense/firestore-typesense-search/issues/4#issuecomment-870957252

[2021-07-08 21:37] jasonbosco commented on #7
Btw, one quick way to expose your local Typesense server via HTTPS would be to use something like [ngrok](https://ngrok.com/)

[code]

And then use `c8cce57ee176.ngrok.io` as the hostname in the extension.

[2021-07-09 00:23] aaronkbutler commented on #7
Thanks very much!

[2021-07-18 17:00] JyYong93 opened #8 "Index a flattened field within an object"
## Description

Hi, I am trying index some fields which are within an object that I am supposed to flatten in order to index in Typesense. But looking at this,
https://github.com/typesense/firestore-typesense-search/blob/master/functions/src/utils.js#L16-L20 , I think even a flattened field would not match. Is there a workaround for fields within an object using firestore & typesense? Thanks in ad

[2021-07-18 17:32] jasonbosco commented on #8
The line you linked is meant to filter a subset of keys from your firestore dicument, before indexing them in Typesense. The list of keys to filter comes from the “Firestore Collection Fields” config you specify when installing the extension.

So it should just work with a flattened key.

Could you give me an example of a key that doesn’t work, and also a screenshot of the config variables you use

[2021-07-19 08:51] JyYong93 commented on #8
Hi Jason, thanks for the reply. Here is my current setup:

Typesense schema
---
[code]
Firestore document
---
[code]

Extension config
---
![image](https://user-images.githubusercontent.com/20752256/126129690-b8be0e2e-8e71-48a9-8751-8d64cc034176.png)

This setup would return the following in the Functions log:
error: 'Field `stallLoc.address` has been declared in the schema, but is not found in th

[2021-07-19 21:36] #7 closed

[2021-07-19 22:28] jasonbosco commented on #8
Ah, so you'd need to store the field **pre-flattened** in the Firestore document. So in your example, there needs to be a field called `stallLoc.address` in your Firestore document. The extension itself does not flatten any objects.

We're planning to add native support for nested fields to Typesense server: https://github.com/typesense/typesense/issues/227. Once that's released, you wouldn't have

[2021-07-20 09:30] JyYong93 commented on #8
Understood. Will wait in anticipation until it is supported then. :)

Just another question. So when nested fields are supported, I just need to have a field "stallLoc.address" on the schema and "stallLoc.address" on the firestore collection fields (nothing changes from current setup)?

[2021-07-21 18:24] jasonbosco commented on #8
That's right. In fact we're planning to make it even more simple so you'd just need to specify that `stallLoc` is a type of `object` and we'll take care of indexing the nested field with the right data type...

[2021-07-22 05:04] JyYong93 commented on #8
Got it. Will look forward to the update! Thanks for your time & help again.

[2021-07-22 05:04] #8 closed

[2021-07-22 15:20] georgekamar opened #9 "Add support for multiple collections to be indexed in typesense"
## Description

This is not a bug with the extension, but a request to add a feature that would allow support for multiple collections to be indexed into typesense. The configuration steps could allow an array or list of collections to be inputted, and a subarray for fields.

[2021-07-22 20:22] jasonbosco commented on #9
@georgekamar To sync multiple collections, you can actually install this extension multiple times in the same project and set different collection names, in each instance.

[2021-07-22 20:56] georgekamar commented on #9
That thought did cross my mind, but I wasnt sure if it was possible, how to manage that, and was hoping there was a way to achieve desired functionality in one installation.

p.s: tried copying the code and modifying locally, but for some reason functions.handler.firestore.document.onWrite(...) does not register as an event, despite it being in firebase's documentation

[2021-07-23 22:16] jasonbosco commented on #9
To install a 2nd instance of the extension, you'd just need to click on the Install Extension link in the README file of this repo and select your Firebase project as usual. Firebase will detect that you already have the extension installed and will prompt you to enter a new "extension instance id" like this:

<img width="875" alt="Screen Shot 2021-07-23 at 3 12 34 PM" src="https://user-images.git

[2021-07-24 23:49] georgekamar commented on #9
Thanks for the answers, very helpful !

[2021-07-24 23:49] #9 closed

[2021-08-03 14:12] owocowyy opened #10 "Crash during backfilling collection data"
## Description
Hi! I want to implement full text search into my project which is based on Firebase. Right now I'm trying to get some things rolling by backfilling my data to the TypeSense Collection. I'm using a Firebase TypeSense Extension from this repo. Everything went smoothly except the backfilling process. The `ext-firestore-typesense-search-backfillToTypesenseFromFirestore` cloud function g

[2021-08-03 18:57] jasonbosco commented on #10
@owocowyy Thank you for reporting this. I made an incorrect assumption that this method automatically paginates and returns documents in small batches from Firestore.

https://github.com/typesense/firestore-typesense-search/blob/3bbb665ed082ec77858c8968ec586c8ba58114a6/functions/src/backfillToTypesenseFromFirestore.js#L34

It looks like that might not be the case, so ALL documents are being loaded

[2021-08-03 22:37] jasonbosco commented on #10
@owocowyy Skimming through the docs I wasn't able to find a quick way to paginate through all the docs in a collection, without a sort field.

So for now I've increased the function's memory to 4x of what it used to be and published it as a new version: https://github.com/typesense/firestore-typesense-search/releases/tag/v0.2.5

[2021-08-04 11:16] owocowyy commented on #10
That might resolve the issue but I think it isn't the optimal way of doing it. I know that Firestore has its own limitations and I didn't check the docs to find a better way so for now I think we can close this issue or mark it as "needs future improvements"

[2021-08-04 17:23] jasonbosco commented on #10
Yeah, I agree this is not an ideal solution.

I'll close this for now, but I'll keep an eye out for any potential alternate solutions.

[2021-08-04 17:23] #10 closed

[2021-08-05 21:01] mkarkachov opened #11 "Can't install extension via console"
Please check screenshot. I think this issue is linked with service account permissions but i can find which service account is associated with extension.

![Selection_008](https://user-images.githubusercontent.com/1360242/128420606-8cfeb7c1-009f-487c-afa3-43e334bcd02a.png)

[2021-08-06 00:25] i14h commented on #11
@mkarkachov have you enabled Firebase on your project?

[2021-08-06 15:25] mkarkachov commented on #11
ofc, i tried to install extension via console.firebase.google.com

[2021-08-06 16:38] mkarkachov commented on #11
We can close ticket. Service account "Google APIs Service Agent" was missed, not sure how it was happened :) Restored it with Editor role and all works as expected.

[2021-08-06 16:38] #11 closed

[2021-08-08 09:15] echo-slam-jam opened #12 "Firebase integration with self-hosted server"
## Description

I installed typesense in my

ubuntu 20.04 apache server

and it is successfully running but I can't succeed in trying to sync my firestore data using the firebase extension. When I input the public IP of my server in the typesense host portion, it fails to upsert the data.

## Steps to reproduce
firebase extension
![image](https://user-images.githubusercontent.com/53904943/12862752

[2021-08-09 17:41] jasonbosco commented on #12
Those logs seem like they're from before you had changed the port to 443. Could you change the port, restart Typesense and then capture the logs from that point on?

It sounds like you've generated your certificate using a domain name, but you've used your IP address when configuring the Firebase extension. Instead, you want to use the domain name in the Firebase extension - the same domain name y

[2021-08-10 01:46] echo-slam-jam commented on #12
LOG file
![image](https://user-images.githubusercontent.com/53904943/128795618-b5c99ecf-f1ea-4631-bb9c-6c297193008e.png)

Starting the service
![image](https://user-images.githubusercontent.com/53904943/128795685-b69a9147-608b-4bf4-8784-33ac4cb567a3.png)

My config
; Typesense Configuration

[server]

api-address = xxx.xx.xxx.xxx
api-port = 443
data-dir = /var/lib/typesense
api-key = value here
lo

[2021-08-10 03:57] jasonbosco commented on #12
May I know which cloud provider you’re running this on? It looks like the public IP address is not directly accessible on the instance. May be try using the private IP of the instance for api-address?

[2021-08-10 04:17] echo-slam-jam commented on #12
The virtual machine is actually owned by the university where I am studying at.
They are also the ones responsible for giving me the public DNS which I used.

I tried the private IP which also didn't work

What might be the cause of this accessibility problem? I can try to bring this up to the manager of the server.

[2021-08-10 04:21] echo-slam-jam commented on #12
The server is actually hosted by the university where I study at.

[2021-08-10 04:21] jasonbosco commented on #12
Notice how the log [here](https://github.com/typesense/firestore-typesense-search/issues/12#issuecomment-895665185) says "Cannot assign requested IP". That's the underlying issue.

- When you run `ifconfig` does that show you the public IP?
- Does `ifconfig` show you an address like `10.x.x.x` or `192.168.x.x`?

[2021-08-10 04:24] echo-slam-jam commented on #12
![image](https://user-images.githubusercontent.com/53904943/128807968-ac243bfd-01b2-49c9-a785-5f8ed85f03e0.png)

[2021-08-10 04:30] jasonbosco commented on #12
Could you post the logs, once you update the IP address in the Typesense configs to `10.207.9.46` and restart the Typesense process?

[2021-08-10 04:38] echo-slam-jam commented on #12
![image](https://user-images.githubusercontent.com/53904943/128809046-88695570-f5fb-4968-a209-144bb67a3050.png)

Ohhhh I can see that it says that the address is already in use

[2021-08-10 04:46] jasonbosco commented on #12
Yup, so some other process is already using port 443. You can try `lsof -i :443` to see which process that is.

[2021-08-10 04:49] echo-slam-jam commented on #12
![image](https://user-images.githubusercontent.com/53904943/128809797-37590b1b-6294-4256-99c1-2329209eb98c.png)

Hmmm the directory is the same as the directory where I hosted the file storage that I use for serving the files from this server
So does this mean that I cannot host this service anymore due to that?

[2021-08-10 04:53] jasonbosco commented on #12
Ah, if you're already using 443 for Apache, another thing you could do is run Typesense with `http` protocol on say port `8108` (the default). Then setup Apache to handle HTTPS on port 443, and then have Apache reverse proxy to Typesense on port 8108.

[2021-08-10 04:56] echo-slam-jam commented on #12
Ohh nice. This is what @britisharmy also suggested.

Are these sets for elasticsearch applicable?
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/es-config-apache.html

[2021-08-10 05:02] jasonbosco commented on #12
That link doesn't seem to cover https. This looks more recent and talks about https setup as well: https://www.digitalocean.com/community/tutorials/how-to-use-apache-http-server-as-reverse-proxy-using-mod_proxy-extension

[2021-08-10 05:08] echo-slam-jam commented on #12
I see.

Do I need to follow the whole steps starting from **Modifying The Default Configuration**

Or just **Enabling SSL Reverse-Proxy Support**

[2021-08-10 05:34] jasonbosco commented on #12
Everything except "Enabling Load-Balancing"

[2021-08-10 06:06] echo-slam-jam commented on #12
ok I'll get back to you after I do it

[2021-08-10 07:20] echo-slam-jam commented on #12
This is my config for the 000-default
<VirtualHost *:*>
    ProxyPreserveHost On

    # Servers to proxy the connection, or;
    # List of application servers:
    # Usage:
    # ProxyPass / http://[IP Addr.]:[port]/
    # ProxyPassReverse / http://[IP Addr.]:[port]/
    # Example:
    ProxyPass / http://10.207.9.46:8108/
    ProxyPassReverse / http://10.207.9.46:8108/

    ServerName localhost
</

[2021-08-10 07:24] britisharmy commented on #12
The certificate cant work on a naked ip. You shall need a sub domain or a tld.

[2021-08-10 08:45] echo-slam-jam commented on #12
Hmmm

So I managed to successfully restart apache2.
- I removed **Listen 443**
- I removed **NameVirtualHost *:443**

This is now my config for 000-default
<VirtualHost *:*>
    ProxyPreserveHost On

    # Servers to proxy the connection, or;
    # List of application servers:
    # Usage:
    # ProxyPass / http://[IP Addr.]:[port]/
    # ProxyPassReverse / http://[IP Addr.]:[port]/
    # Example:

[2021-08-10 17:54] jasonbosco commented on #12
You only need

`ProxyPassReverse / http://10.207.9.46:8108/`

and NOT

`ProxyPass / http://10.207.9.46:8108/`.

Essentially, the idea is that you're running multiple web-servers behind Apache, one is your existing site, and the other is Typesense. Depending on what hostname shows up in the HTTP headers, Apache will either send the request to your existing site or to Typesense. HTTPS/SSL is handled

[2021-08-11 00:16] echo-slam-jam commented on #12
If I understand correctly, do I need to create a subdomain for my domain which I will call, say, "typesense.domain" which I will reverse proxy to http://10.207.9.46:8108
or can I just use 000-default like what digital ocean did?

[2021-08-11 00:21] echo-slam-jam commented on #12
Or can I also do it like this
![image](https://user-images.githubusercontent.com/53904943/128951151-8d1bee54-9ffd-42ce-9f25-5f0d6db2aa74.png)
I will just assign the specific /typesense path to reverse proxy to port 8108

[2021-08-11 00:24] jasonbosco commented on #12
Yeah, either of those should work. You might have to do some URL re-writing so Typesense doesn't see the `/typesense/` portion of the URL... Not sure if that's how it works out of the box, or if more configuration is needed in Apache.

[2021-08-11 02:47] echo-slam-jam commented on #12
Ok
So I have now successfully configured my reverse proxy and curl "https://mydomain/typesense/health" now returns ok:true
I can also see it through web browser so I assume that this is already working

Now I went to the firebase extension and

**typesense host**: mydomain/typesense

still returns HTTP error 404
![image](https://user-images.githubusercontent.com/53904943/128961508-c478b05b-f353-4a

[2021-08-11 02:55] jasonbosco commented on #12
Oh hang on, my bad. While Typesense itself can be hosted under a path, the Firebase extension requires Typesense to be hosted on the root domain. So you'd need to create a new virtual host in Apache and move the reverse proxy config under that, and setup a different sub-domain just for Typesense.

[2021-08-11 03:09] echo-slam-jam commented on #12
Hmmm let me clarify.

Currently, the process goes like this

extension -> my SSL domain -> reverse proxy to 10.207.9.46:8108
which does not work

Can you illustrate in terms of this process chain?

[2021-08-11 03:21] jasonbosco commented on #12
You'd have to set it up this way:

Extension -> https://typesense-sub.domain (setup in Apache as a separate Virtual Host with its own SSL cert) -> reverse proxy to 10.207.9.46:8108

[2021-08-11 03:37] echo-slam-jam commented on #12
Hmm can I still use my ssl domain like this?

extension -> https://mydomain/typesense -> reverse proxy to newly created https://typesense -> reverse proxy to 10.207.9.46:8108

[2021-08-11 04:39] jasonbosco commented on #12
That won’t work with the Firebase extension. So you need a new domain/sub-domain just for Typesense, but it can still run on the same server.

[2021-08-11 06:06] echo-slam-jam commented on #12
Ok I just checked with the server handler and I can fully use the root of mydomain

So now I don't need the subpath anymore and my process now is this:
extension -> my SSL domain (no more subpath) -> reverse proxy to 10.207.9.46:8108

[2021-08-11 06:21] echo-slam-jam commented on #12
NICE it is finally working !!!!!
After 4 days of troubleshooting

![image](https://user-images.githubusercontent.com/53904943/128979324-1b7511cd-d13f-4e75-b2cd-8a50ae0aa801.png)

THANKS @jasonbosco and @britisharmy for your assistance :)

Also I noticed that it fails to write empty arrays
Is this as intended?

[2021-08-11 07:00] echo-slam-jam commented on #12
Idk why but now it accepts empty arrays haha

[2021-08-11 18:05] jasonbosco commented on #12
Amazing! Kudos to you for your persistence! 🙌 🙌

It would be awesome if you're able to share the final Apache configs that worked for you, for the benefit of future folks who might stumble on this scenario.

[2021-08-12 04:51] echo-slam-jam commented on #12
Sure!

So the process goes like this for me:

Firebase extension -> my SSL (by certbot)  "domain.xxx" -> Reverse proxy to my VM local IP address

My reverse proxy settings on my domain's xxx-le-ssl.conf file

ProxyPreserveHost On
ProxyPass "/" "http://local IP:8108/"
ProxyPassReverse "/" "http://local IP:8108/"
AllowEncodedSlashes On

Then on the firebase extension, use the ssl domain name like "s

[2021-08-14 23:04] uafrontender opened #13 "JavaScript heap out of memory"
I have >40k records in firestore and I got issue when I try to index more than 3 fields. Please check screenshots

![Selection_009](https://user-images.githubusercontent.com/1360242/129462280-884efe40-44c6-4d5f-b71f-56e443d3fe5f.png)
![Selection_010](https://user-images.githubusercontent.com/1360242/129462282-7925b797-4d4f-44fc-87f1-ea37c692ccf8.png)
![Selection_011](https://user-images.githubuser

[2021-08-17 21:21] #12 closed

[2021-08-17 21:22] jasonbosco commented on #13
@mkarkachov This could be related to #10. May I know what version of the extension you're running?

[2021-08-21 20:43] mkarkachov commented on #13
typesense/firestore-typesense-search@0.2.5

[2021-08-23 23:39] theshadowagent opened #14 "How to index Firestore subfields?"
## Description

I have a Firestore collection with subfields e.g. `{ "user": {"username": string, ...} }` and installed `firestore-typesense-search` extenstion.
I want to create a Typesense collection with indexing by `user.username` without duplicating this in a flat field like `user_username` in Firestore.

Is it possible?
I've tried specifying `user.username,...` in extension configuration, but

[2021-08-23 23:44] jasonbosco commented on #14
Hi @theshadowagent, Typesense doesn't support nested fields at the moment (we're tracking it as part of https://github.com/typesense/typesense/issues/227). So you would have to flatten fields to top-level keys to index them in Typesense. So for eg, `{"user": {"username": string}}` needs to be `{"user_username": string}`.

[2021-08-25 01:02] jasonbosco commented on #13
Hmmm. Could you share a sample firestore document? I'm curious to know the size of each document particularly and the data types.

[2021-08-25 13:33] lbourbon opened #15 "How to index Firestore TimeStamp?"
First of all, I would like to thank you for this nice project.
 I'm trying to use a Firebase TimeStamp as the default_sorting_field of my Typesense collection. But it only supports int, float and string. Is it possible to index a Firebase Timestamp? How could this be done? Thanks again

[2021-08-25 17:42] Nicoglx opened #16 "Firebase cloud function error"
## Description

When creating or upserting a document, or a backfill operation the cloud functions fails with the code error "EAI_AGAIN getaddrinfo EAI_AGAIN https". The same issue occurs with both cloud functions (ext-firestore-typesense-search-backfillToTypesenseFromFirestore,  ext-firestore-typesense-search-indexToTypesenseOnFirestoreWrite).
The following are the logs from the cloud function:
-

[2021-08-27 19:05] eysenshi opened #17 "Support backfill documents in subcollections"
## Description

This is a request to support backfill all subcollections return from a collection group query. This could be helpful in use case like, backfill landmarks data from all cities under path: `cities/{cityId}/landmarks`.

[2021-09-13 23:41] #15 closed

[2021-10-18 14:27] echong112 opened #18 "Collection path on Firebase Firestore Extension"
## Description
Proper Format for the Collection Path

The prompt asks for "an odd number of segments".
example doc:
https://console.firebase.google.com/project/undefined/firestore/data/restaurants/000adff3123sH8AgTzxvK

what is the entry for then Collection Path on the Firebase Extension ?

## Steps to reproduce

## Expected Behavior

## Actual Behavior

## Metadata

**Typsense Version**:

**OS**:

[2021-10-18 17:15] #18 closed, assigned to nobody

[2021-10-21 21:55] jonathan-chin opened #19 "help setting up"
hi all. I'm running self hosted typesense on AWS via docker. I have nginx redirecting 80 and 443 traffic to locahost:8108, with SSL certificate etc.

if I visit my-domain.com/health, I get `{"ok":true}` back. I believe this means nginx is correctly redirecting traffic. however, when I try to trigger calls on firestore, I get this error:
[code]

when looking at my nginx access logs, I can see that

[2021-10-21 22:21] jonathan-chin commented on #19
@jasonbosco yes, that worked! thanks for pointing me the right way. all I saw was the Install on Firebase button and I forgot about the rest of the instructions.

[2021-10-21 22:21] #19 closed

[2021-10-21 22:46] jasonbosco commented on #19
Happy to help!

[2021-11-18 04:35] renamoo commented on #16
For those who face this error in the future:
`EAI_AGAIN getaddrinfo EAI_AGAIN ` error is usually thrown for the domain. However, error message in the report only shows `https`. It's worth checking if you set the variable `TYPESENSE_HOSTS` correctly. I saw a case where the same error is thrown when `TYPESENSE_HOSTS` is specified with `https://` prefix.

[2021-11-20 10:00] alifyandra commented on #16
Hi I have the exact same error "EAI_AGAIN getaddrinfo EAI_AGAIN https" using blaze plan when attempting a backfill or update.
@renamoo Can you elaborate? I'm pretty sure I've input the host name correctly, "https://<myhosthame>".
A fast reply would be very much appreciated as I need to get this to work ASAP for my Uni project deadline.

[2021-11-20 11:04] renamoo commented on #16
What I meant is that you should specify domain without https prefix. If your variable includes https, you should remove that.
NG: https://google.com
OK: google.com

[2021-11-20 12:03] alifyandra commented on #16
thank you so much @renamoo

[2021-12-06 14:08] matslb commented on #13
I get the same issue

[2021-12-06 19:25] jasonbosco commented on #13
@matslb Could you share a sample firestore document?

[2021-12-06 19:25] #16 closed

[2021-12-06 19:26] #14 closed

[2021-12-06 20:30] jasonbosco commented on #17
Note to myself: docs for listening on dynamic paths: https://firebase.google.com/docs/functions/firestore-events#wildcards-parameters

[2021-12-13 13:23] elhe26 commented on #17
@jasonbosco this extension supports subcollection paths? (ie. `cities/{cityId}/landmarks`)

[2021-12-14 17:47] ChauCM commented on #17
Subcollection like "cities/{cityId}/landmarks" worked for me on `indexToTypesenseOnFirestoreWrite` but not on backfill: `backfillToTypesenseFromFirestore`. Basically the backfill function runs without error but no record is imported.

[2021-12-16 20:29] matslb commented on #13
Here is a typical document in my firestore:
`{
    "Sugar": "<3",
    "SubType": "Hvitvin",
    "RatingFetchDate": 1639440356127,
    "Id": "7855101",
    "ProductStatusSaleName": "Utsolgt",
    "PriceIsLowered": true,
    "SortingDiscount": 87.87,
    "RatingComment": "En tørr og frisk litt bitter vin som tåler 3-4 år. Godt kjøp.",
    "Stock": {
        "Stores": [
            {

[2022-01-14 13:16] elhe26 opened #21 "Matching Schemas and Collections."
## Description

Using this schema:
[code]

firestore collection:
[code]

Could we have a collection with missing parameters (ie. country) and upload the missing parameters after? For example, uploading the missing parameter (or parameters) after a document is added in firestore  (using a trigger after each creation, update, deletion).

Edit:

To be clear, the collection won't have the parameter bu

[2022-01-14 14:14] elhe26 commented on #21
We can declare a field as optional by adding `"optional":true"`.

Thanks Kishore Nallan.

[2022-01-14 14:14] #21 closed

[2022-01-21 14:21] OCALAB opened #22 "Firestore functions doesn't push data to typesense schema"
Hi all!
i've create a typesense schema like this:
`
const myCollection = {
        'name': 'products',
        'fields': [
            {"name": ".*", "type": "auto" }
        ]
    }
`
then, i've installed firestore extension and link "products" schema to a firestore DB collection. But the functions doesn't work.

When I tried backfill, function throw this error:

![image](https://user-images.gith

[2022-01-21 15:59] jasonbosco commented on #22
@OCALAB Could you share the name of your Firestore collection and also a sample Firestore document?

[2022-01-24 08:27] OCALAB commented on #22
Hi @jasonbosco
I think that this isn't an error that depends on Firestore document structure. I've tryed to push a simple document like
`{
id: 'Test',
title: 'test'
}`
as you can see on log screenshots, but the same error persist. The collection is called **"Products"**.

I've a self-hosted Typesense. Throught the API i'm able tu push/retrive data correctly.

[2022-01-24 09:10] OCALAB commented on #22
Hi @jasonbosco
Maybe i've found the error.
In "Host" param of Search Firestore with Typesense extension i've write: mydomain.com:8108.

In Google Cloud Error Reporting notification i've seen that the function Backfill call an invalid URL _https://mydomain:8108:443/collections/products/documents/import_

![image](https://user-images.githubusercontent.com/44052283/150753167-85e13d96-48cc-4356-92bb-5

[2022-01-25 04:49] jasonbosco commented on #22
@OCALAB Good eye! The extension only supports sending data over HTTPS/443 because the data goes from Firestore over the internet to Typesense (regardless of whether its self-hosted or on Typesense Cloud). And we don't want to expose unencrypted data to the public internet.

Could you get may be LetsEncrypt SSL certs and use that to start your Typesense node on port 443?

[2022-01-25 08:15] OCALAB commented on #22
hi @jasonbosco.
I've restart Typesense on port 443 and issued a LetsEncrypt SSL cert. Everything work properly.
Many thanks for you help!

[2022-01-25 21:15] #22 closed

[2022-02-16 16:37] iamandreadompe opened #23 "how can i trigger backfill manually"
## Description

Reading the docs i saw i have to create a new collection called typesense_sync with inside a document named backfill => trigger : true.
But actually none of my documents are filled in the collection,
in the logs i see few detail but i don't undestand

## Steps to reproduce

## Expected Behavior

Ther is a way to trigger backfill manually?

## Actual Behavior

## Metadata

**Typsens

[2022-02-16 21:23] jasonbosco commented on #23
@iamandreadompe Could you share a screenshot of the typesense_sync collection, and also your extension settings page?

[2022-02-17 17:44] iamandreadompe commented on #23
Hi @jasonbosco

<img width="582" alt="Schermata 2022-02-17 alle 18 41 05" src="https://user-images.githubusercontent.com/57131689/154539482-f7fa2292-735e-4b68-90fa-b05979824907.png">
![Schermata 2022-02-17 alle 18 41 36](https://user-images.githubusercontent.com/57131689/154539912-05d34dbb-320c-4d14-bfff-068194a55570.jpg)

[2022-02-22 17:16] iamandreadompe commented on #23
@jasonbosco Are there any arrors in my configurations?

[2022-02-22 17:53] jasonbosco commented on #23
@iamandreadompe Could you delete the `trigger: true` key and then create it again? And then share the full logs for the backfill function?

[2022-02-22 21:20] CaptainCodeman commented on #10
The solution to this is to use a firestore query with cursors which allow you to iterate any size collection in batches, effectively re-starting from the last point each time.
https://firebase.google.com/docs/firestore/query-data/query-cursors

The typical approach is to schedule a task to keep running a function, which itself schedules the next task to continue with until the entire collection ha

[2022-02-23 07:55] iamandreadompe commented on #23
<img width="1176" alt="Schermata 2022-02-23 alle 08 52 46" src="https://user-images.githubusercontent.com/57131689/155279671-f5875bae-4ad1-4d81-9d34-7a28bdd8c802.png">

As soon as i delete e recreate `trigger: true` somethings is changed, from 30 _num_documents to 44 num_documents (api collection with postman)
but i have 6000 documents. I've found some errors in the logs,
follow the log expanded

[2022-02-24 17:28] jasonbosco commented on #23
Could you share the entire log line from the 2nd screenshot? That will show the exact reason why the import failed.

[2022-02-24 18:15] iamandreadompe commented on #23
Thats the entire log

`{"severity":"ERROR","message":"Import error ImportError\n    at Documents.import (/workspace/node_modules/typesense/lib/Typesense/Documents.js:53:23)\n    at runMicrotasks (<anonymous>)\n    at processTicksAndRejections (internal/process/task_queues.js:95:5)\n    at async /workspace/src/backfillToTypesenseFromFirestore.js:56:11 {\n  importResults: [\n    {\n      code: 400,\

[2022-02-24 18:19] jasonbosco commented on #23
If you search for "error" in that message, you'll see the error messages from Typesense.

One of the error messages say: `error: 'Field address must be a string.'`. And based on the document structure it looks like `address` is a nested object, which Typesense doesn't support. So you would have to flatten it as described here: https://typesense.org/docs/0.22.2/api/collections.html#indexing-nested-

[2022-02-25 07:57] iamandreadompe commented on #23
Hi @jasonbosco thank you so much for your help!
Your application is amazing!

[2022-02-25 15:14] #23 closed

[2022-02-25 15:18] jasonbosco commented on #23
Happy to help!

[2022-03-20 19:23] braincomb commented on #12
Is there a reason why Typesense extension doesn't allow to specify a custom port?

[2022-04-01 20:52] jon-flowers opened #28 "Getting HTTP 400 error when trying to enable the Firebase extension through CLI"
## Description

I am using the Firebase CLI to try to enable the extension for a Firebase project.  Major note is that the last few times I did this it worked fine, so this seems to be a new issue.  I think it may be related to this change: https://github.com/typesense/firestore-typesense-search/commit/44c5b37ce84ea2573cc40419f0e414865bbc4544

The `TYPESENSE_API_KEY` parameter appears to be the is

[2022-04-01 20:58] jasonbosco commented on #28
@jon-flowers Could you try installing via the Firebase web console? It did ask me to provision a new secret and I just had to paste the Typesense API key and click on "Create" in the UI.

@dackers86 Any thoughts on how to do this via the CLI?

[2022-04-01 21:16] jon-flowers commented on #28
Thanks @jasonbosco , I checked and can confirm that I can use the UI to activate the extension.  The flow has definitely changed slightly, with the API key now asking me to create a secret, but if I click that it seems to create fine.

That being said, based on the number of environments we have, we definitely would prefer to do this with the CLI / programmatically wherever possible

[2022-04-05 15:45] jon-flowers commented on #28
Just checking in to see if there were any updates here, I'm blocked from rolling out Typesense to more environments unless I can automate the extension installation. Thank you!

[2022-04-05 18:13] jon-flowers commented on #28
@jasonbosco  generally my file looks like this:

FIRESTORE_COLLECTION_PATH=receiptTemplates
FIRESTORE_COLLECTION_FIELDS=
TYPESENSE_HOSTS=abc.a1.typesense.net
TYPESENSE_API_KEY=abc123
TYPESENSE_COLLECTION_NAME=eng_test_receiptTemplates
LOCATION=useast1

The TYPESENSE_API_KEY value (filled with a generic string above) is just the actual API key that I get directly from the Typesense cloud console.

[2022-04-05 18:40] i14h commented on #28
@jon-flowers are you using the non-interactive flow `--force` option?

[2022-04-05 18:43] jon-flowers commented on #28
Yes I am

[2022-04-05 19:02] i14h commented on #28
@joehan fyi

[2022-04-05 20:03] i14h commented on #28
we think it's a combination of specifying the secret in the `params.env` file and using the `--force` param. But the error message should've been more clear. Let us investigate a little bit.

[2022-04-05 20:08] jasonbosco commented on #28
Thanks @i14h.

@jon-flowers While this is being investigated, could you use v0.2.7 of the extension, which doesn't use the Secret Manager:

[code]

[2022-04-05 20:34] jon-flowers commented on #28
@i14h got it, thank you!

@jasonbosco that makes sense, I will do that and that should unblock me for now.  Appreciate the help!

[2022-04-05 21:27] i14h commented on #28
I strongly suggest using the more secure version. Try not specifying your secret in the params.env file and see if that makes the problem go away? We don't suggest storing secrets in plain text files that could end up checked into your source repo

[2022-04-05 22:04] jon-flowers commented on #28
@i14h Sorry I probably should have added more context here.

I am using Terraform (with the third-party Typesense provider, as well as Google and local-execs) to build out a Typesense collection, alias, enable the extension for an existing Firestore database, and create the backfill sync document.

Everything is pretty straightforward EXCEPT installing this extension, because the Google/Firebase p

[2022-04-12 17:23] jon-flowers commented on #28
I *think* I tried something similar to that, I agree it should work but if I remember correctly the problem was that the extension is not expecting that format; basically it seems like the extension at least is expecting the API key itself in one place and the GCP format you used above in another place, meaning it fails no matter what.  Assuming I am remembering this correctly, when I tested it us

[2022-04-27 18:24] zzterrozz opened #31 "New feature backfill a specific collection"
With the Firebase Extension (https://github.com/typesense/firestore-typesense-search#step-3%EF%B8%8F%E2%83%A3--optional-backfill-existing-data) it would be great to be able to backfill a specific collection and not all at once.

[2022-06-14 00:27] rosslavery opened #32 "Out-of-order function triggers result in data inconsistency between Firestore -> Typesense"
## Description

As noted in the [Firebase functions documentation](https://firebase.google.com/docs/functions/firestore-events#limitations), background function triggers are not guaranteed to be received in the order the changes occured.

When rapid changes occur in the database, out-of-order events will result in out-of-order processing, meaning Typesense can end up with stale data in it which is

[2022-06-14 01:39] jasonbosco commented on #32
Thank you for documenting this Ross!

Summarizing our additional discussions on Slack:

One potential solution to this could be to query Firestore on each change trigger and push the latest version of the Firestore document to Typesense, instead of using the snapshot document from the event (which is what could be stale based on the order of execution of events of the change triggers).

Also, to a

[2022-06-18 02:58] idkq opened #33 "Host issues with DNS ip https - EAI_AGAIN and ECONNREFUSED"
Hi, I've been trying to setup this for a while now and I never get any errors but nothing happens when I update or add docs to the collection it was supposed to be indexing. How to troubleshoot the change in the document? What commands should I use?

The only log I can see is when running `tail -f /var/log/typesense/typesense.log`

[code]

Cloud logs return 0 logs.

My setup:

- I have a fresh Ubu

[2022-06-18 03:44] idkq commented on #33
Actually I was having issues navigating the Cloud Function log.

I'm getting two errors

If host is https://EXAMPLE.com I get this error:

EAI_AGAIN getaddrinfo EAI_AGAIN https

See
https://github.com/typesense/firestore-typesense-search/issues/16

If I omit https from host and add port (EXAMPLE.com:8108) I have:

ECONNREFUSED connect ECONNREFUSED x.x.x.x:443"

[2022-06-18 05:04] jasonbosco commented on #33
The extension only works on port 443, since Firebase makes calls out over the public internet.

[2022-06-20 18:50] #33 closed

[2022-06-29 14:48] Guilledorfman opened #34 "Support for 'ref' type fields"
## Description

Currently ref type fields return null:

`else if (value instanceof admin.firestore.DocumentReference) {
    return null;
}`
[See here](https://github.com/typesense/firestore-typesense-search/blob/1b9d22bc1e3fbb55fd548003abbadcbf2be8a3fc/functions/src/utils.js#L16)

## Expected Behavior

`ref` is a firebase object that has a property `path` that returns a string, for me personally t

[2022-07-06 23:59] jasonbosco commented on #34
I've published this in [v0.4.0](https://github.com/typesense/firestore-typesense-search/releases/tag/v0.4.0) of the extension.

[2022-07-06 23:59] #34 closed

[2022-07-06 23:59] jasonbosco commented on #31
I've published this in [v0.4.0](https://github.com/typesense/firestore-typesense-search/releases/tag/v0.4.0) of the extension.

[2022-07-19 14:10] mibto opened #36 "Resource_Error"
Hi Typesense Team

i get the following message when i try to install this extension with the console and cli

when i look at the cloud functions there is a warning that the functions could not be built - log message from the function:

Thanks
Michael

[2022-07-19 14:20] mibto commented on #36
[code]
this looks a bit suspicious to me empty database_url / instance

[2022-07-20 20:18] i14h commented on #36
@mibto Firebaser here. I took a look around and saw nothing suspicious happening in Cloud Build or Cloud Functions. We've escalated this internally to the Cloud Build team to check your account and its permissions. I suggest creating a ticket with Cloud Support to keep track of the updates from our side.

[2022-07-20 20:25] mibto commented on #36
Hi @i14h
I found the issue, it's because i redirected the traffic from container registry to artefact registry. i have reproduced it with a new project. unfortunately i already finalized the redirect, which can not be undone :(

any idea how i can get it working with he artefact registry?

thanks!
Michael

[2022-07-21 00:04] i14h commented on #36
thanks for the information. let me dig a bit and see what I can find

[2022-07-29 11:15] mibto commented on #36
I just found the "solution"

--> go to https://console.cloud.google.com/functions -> edit the functions -> expand "Runtime, build, connections and security settings", select "SECURITY AND IMAGE REPO", under "Image repository", select "Google managed Artifact Registry".

would be nice if the extension could detect if you are using the container registry or artefact registry and deploy the functions

[2022-08-10 15:08] sreenath-n opened #37 "Is the backfill batching logic fully correct ?"
Considering the order of execution of `async` functions in the Node.js Event Loop,
is the backfill batching logic fully correct?

[code]

[2022-09-12 18:29] ABC-ACL opened #39 "port and protocol config"
Would be nice to be able to configure the server port and protocol.
I have a typesense server on http and port 8108 but can't connect this extension to it, it defaults to https on port 443.

[2022-09-12 18:54] jasonbosco commented on #39
This is by design, since Firebase makes calls over the public internet to Typesense and we don't want to expose unencrypted data during transit. More context here: https://github.com/typesense/firestore-typesense-search/issues/4#issuecomment-870957252

[2022-09-12 18:54] #39 closed

[2022-09-12 19:29] jasonbosco commented on #37
Thank you for catching this. I was going off of the documentation [here](https://firebase.google.com/docs/firestore/query-data/get-data#get_all_documents_in_a_collection)... but I have indeed run into this issue with `forEach` and async functions in the past. I've gone ahead and pushed out `v0.4.1` of the extension which now uses `for...of` instead.

[2022-09-12 19:29] #37 closed

[2022-09-12 20:52] ABC-ACL commented on #39
Ok, I understand. But that limits the possible server configurations. I can think of a few cases where someone would need to configure a server to listen for https in a non standard port. Or even using http, in the case of the data being 100% public.

[2022-10-03 19:56] PMLS3 commented on #28
Has anyone got a solution for this? First time using the extension and also getting  Request failed with HTTP code 404 | Server said: Not Found... I've set mine up through the Firebase Web Ui...

[2022-10-03 20:01] jasonbosco commented on #28
@PMLS3 This issue is referencing an HTTP 400 error, when installing this extension via the Firebase CLI.

Your HTTP 404 error is one that comes from Typesense and is unrelated to this issue. You're seeing that error most likely because you need to setup a collection in Typesense first - the extension does not create the Typesense collection for you. See Step 3 [here](https://github.com/typesense/f

[2022-10-19 20:09] Nikodym7373 opened #40 "Missing infix search parameter in function SearchParameters"
## Description

The infix search parameter is not available in SearchParameters()

## Steps to reproduce

## Expected Behavior

## Actual Behavior

## Metadata

**Typsense Version**:

**OS**:

[2022-10-19 20:20] #40 closed